body {
//  animation-name: example;
//  animation-duration: 5s;
//  animation-iteration-count: infinite;
//  animation-direction: alternate;
background-color: #dfd;
}

// @keyframes example {
//  from {background-color: #ddf;}
//  to {background-color: #bbf;}
//}

a.title {text-decoration: none;}
h1 {color: #000; text-align:center; letter-spacing:3px; font-size:42px; font-family: Noto Sans;
border: 5px solid #000;
background-color: #9f9;
padding: 10px;}

h1:hover {
background-image: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
}

li a {text-decoration:none; color: #000;
          border:3px ridge #aaa;
          background-color: #bfffbf;
          padding:5px 18px; display:block;}

li a:hover {color:#000;
            background-color:#fff; 
            border-color: #f00;}

p {margin-left: -25px; margin-top: 2px; margin-bottom: 2px; text-indent:2em; font-size: 20px;}
p.mail {font-size: 18px; margin-left:-45px;}
img.me {border: 10px ridge #777;}
img.kol {margin-left:50px;}
dl {margin-left:100px;}

h2 {text-align: center; font-family: Noto Sans; font-size 30px;}
h3 {margin-left:50px;}

p.quote {text-align: center; font-size: 19px; margin-top: 10px;}

img.ph {border: 4px solid #888; border-radius: 20px; margin:34px;transition: transform .2s;}
img.fe {border: 4px solid #888; border-radius: 20px; margin:34px;transition: transform .2s;}
img.ka {border: 4px solid #888; border-radius: 20px; margin:34px;transition: transform .2s;}

img.ph:hover {transform: scale(1.1);}
img.fe:hover {transform: scale(1.1);}
img.ka:hover {transform: scale(1.1);}

@media screen and (max-width: 1000px){
ul {width:180px; font-size:18px; letter-spacing:1px; list-style-type: none;}

a.me {margin-right: 40px;}

div.text {font-size: 19px; text-align:justify;}
}

@media screen and (min-width: 1001px){

a.me {float:right; margin-right: 40px; border: 2px solid #000; background: #bfffbf;}

ul {float:left; width:180px; font-size:18px; letter-spacing:1px; list-style-type: none;}

div.text {margin-left:300px;
margin-right: 360px; font-size: 19px; text-align:justify;}
}
